:root {
  --color1: #010D00;
  --color2: #758C20;
  --color3: #707365;
  --color4: #BFBCAA;
  --color5: #0D0D0D;
  --color6: #1F2525;
  --color7: #F0ECE3;
}

body {
  font-family: 'Prosto One', cursive;
  background-image: url('../images/background-image.jpeg');
  background-size: cover;
}
  
header {
  text-align: center;
  background: var(--color6);
  background: linear-gradient(90deg, rgba(0,0,0,0.8) 3%, rgba(31,37,37,0.8) 98%);  
  border-bottom: 10px solid black;
  margin-bottom: 1%;
}

header h1, h3, p {
  color: var(--color4);
}

.row {
  padding: 5px;
}
  
.hour {
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color3);
  color: var(--color1);
  font-size: 1.5em;
  border-top: 1px dashed var(--color1);
  border-right: 1px dashed var(--color1);
}

.past {
  background-color: var(--color4);
  color: var(--color1);
}
  
.present {
  background-color: var(--color7);
  color: var(--color1);
}

.future {
  background-color: var(--color2);
  color: var(--color7);
}
  
.saveBtn {
  align-items: center;
  border-left: 1px solid var(--color1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--color6);
  color: var(--color3);
  padding: none;
}

.saveBtn:hover {
  color: var(--color4);
  background-color: var(--color6);
  transition: all .3s ease-in-out;
}

.clear-all {
  justify-content: flex-end;
}

#clearAll {
  width: 15%;
}

/* PHOTO CREDIT */
/* Photo by Lukas Hartmann: https://www.pexels.com/photo/green-tree-forest-880675/ */